<mat-toolbar class="centered-toolbar">Cadastro de Pets</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup" >
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome" />
                    <mat-error *ngIf="formGroup.get('nome')?.hasError('apiError')">
                        {{ formGroup.get('nome')?.getError('apiError') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Especie</mat-label>
                    <input matInput type="text" formControlName="especie" />
                    <mat-error *ngIf="formGroup.get('especie')?.hasError('apiError')">
                        {{ formGroup.get('especie')?.getError('apiError') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Raça</mat-label>
                    <input matInput type="text" formControlName="raca" />
                    <mat-error *ngIf="formGroup.get('raca')?.hasError('apiError')">
                        {{ formGroup.get('raca')?.getError('apiError') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">

                    <mat-label for="idadeEmMeses_id">Idade em meses</mat-label>
                    
                    <input matInput type="number" formControlName="idadeEmMeses" id="idadeEmMeses_id" />

                    <mat-error *ngIf="formGroup.get('idadeEmMeses')?.hasError('apiError')">
                        {{ formGroup.get('idadeEmMeses')?.getError('apiError') }}
                    </mat-error>

                </mat-form-field>

            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                color="primary" 
                (click)="salvar()"
                [disabled]="formGroup.invalid">
                Salvar
            </button>
            <button mat-raised-button 
                *ngIf="formGroup?.get('id')?.value"
                color="warn" 
                (click)="excluir()"
                [disabled]="formGroup.invalid">
                Excluir
            </button>
            <button mat-raised-button 
                routerLink="/pets/list">
                Cancelar
            </button>
        </mat-card-actions>
    </mat-card>
</div>