<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()">

        <img mat-card-image [src]="card.urlImagem" >
       
        <mat-card-title class="centered-text"> {{card.titulo}} </mat-card-title>
        
        <mat-card-content class="centered-text"> 
            {{card.preco | currency:'BRL'}} 
        </mat-card-content>

        <mat-card-actions class="centered-text">
            <button mat-button color="primary">Ver mais ...</button>
        </mat-card-actions>

        <mat-card-footer>
            <button mat-flat-button color="primary" style="width: 100%; padding: 16px;">Adicionar ao carrinho</button>
        </mat-card-footer>

    </mat-card>
</div>