<mat-toolbar>
    <button (click)="clickMenu()" mat-icon-button class="example-icon" id="menu-botao" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="titulo">JavaPets</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
        <span class="menu-usuario-span">{{usuarioLogado?.login}}</span>
     </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deslogar()" class="item-menu-user"  routerLink="/user/auth/login">
            <mat-icon>account_circle</mat-icon> Perfil
          </button>
          <button class="item-menu-user" mat-menu-item (click)="deslogar()"  routerLink="/user/auth/login">
            <mat-icon >exit_to_app</mat-icon> Sair
          </button>
     </mat-menu>
  
</mat-toolbar>