<mat-toolbar class="centered-toolbar"><p>Cadastro de Usuário</p></mat-toolbar>
<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <div formGroupName="pessoaFisicaDto">
          <h2>Informações Básicas</h2>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="nome_id">Nome</mat-label>
            <input matInput type="text" formControlName="nome" id="nome_id" />
            <mat-error
              *ngIf="
                formGroup
                  .get('pessoaFisicaDto')
                  ?.get('nome')
                  ?.hasError('apiError')
              "
            >
              {{
                formGroup
                  .get("pessoaFisicaDto")
                  ?.get("nome")
                  ?.getError("apiError")
              }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="cpf_id">CPF</mat-label>
            <input matInput type="text" formControlName="cpf" id="cpf_id" />
            <mat-error
              *ngIf="
                formGroup
                  .get('pessoaFisicaDto')
                  ?.get('cpf')
                  ?.hasError('apiError')
              "
            >
              {{
                formGroup
                  .get("pessoaFisicaDto")
                  ?.get("cpf")
                  ?.getError("apiError")
              }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="email_id">Email</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
              id="email_id"
            />
            <mat-error
              *ngIf="
                formGroup
                  .get('pessoaFisicaDto')
                  ?.get('email')
                  ?.hasError('apiError')
              "
            >
              {{
                formGroup
                  .get("pessoaFisicaDto")
                  ?.get("email")
                  ?.getError("apiError")
              }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="sexo_id">Sexo</mat-label>
            <mat-select formControlName="sexo" id="sexo_id">
              <mat-option value="1">Masculino</mat-option>
              <mat-option value="2">Feminino</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup
                  .get('pessoaFisicaDto')
                  ?.get('cpf')
                  ?.hasError('apiError')
              "
            >
              {{
                formGroup
                  .get("pessoaFisicaDto")
                  ?.get("sexo")
                  ?.getError("apiError")
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="cadastro-perfil">
          <h2>Informações do Perfil</h2>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="login_id">Login</mat-label>
            <input matInput formControlName="login" id="login_id" />
            <mat-error *ngIf="formGroup.get('login')?.hasError('apiError')">
              {{ formGroup.get("login")?.getError("apiError") }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="senha_id">Senha</mat-label>
            <input
              matInput
              type="password"
              formControlName="senha"
              id="senha_id"
            />
            <mat-error *ngIf="formGroup.get('senha')?.hasError('apiError')">
              {{ formGroup.get("senha")?.getError("apiError") }}
            </mat-error>
          </mat-form-field>
        </div>

        <div formGroupName="endereco">
          <h2>Endereço</h2>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="logradouro_id">Logradouro</mat-label>
            <input
              matInput
              type="text"
              formControlName="logradouro"
              id="logradouro_id"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="bairro_id">Bairro</mat-label>
            <input
              matInput
              type="text"
              formControlName="bairro"
              id="bairro_id"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="numero_id">Número</mat-label>
            <input
              matInput
              type="text"
              formControlName="numero"
              id="numero_id"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="complemento_id">Complemento</mat-label>
            <input
              matInput
              type="text"
              formControlName="complemento"
              id="complemento_id"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="cep_id">CEP</mat-label>
            <input matInput type="text" formControlName="cep" id="cep_id" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="cidade_id">Selecione uma cidade</mat-label>
            <mat-select formControlName="cidade" id="cidade_id">
              <mat-option *ngFor="let cidade of cidades" [value]="cidade">
                {{ cidade.nome }} - {{ cidade.estado.sigla }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div formArrayName="telefones">
          <div
            *ngFor="let telefone of telefonesFormArray.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field>
              <input
                matInput
                formControlName="codigoDeArea"
                placeholder="Código de Área"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="numero"
                placeholder="Número de Telefone"
              />
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="removerTelefone(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <button
          mat-button
          color="primary"
          class="botao-add-tel"
          (click)="adicionarTelefone()"
        >
          Adicionar Telefone
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="salvar()"
        [disabled]="formGroup.invalid"
      >
        Salvar
      </button>
      <button
        mat-raised-button
        *ngIf="formGroup?.get('id')?.value"
        color="warn"
        (click)="excluir()"
        [disabled]="formGroup.invalid"
      >
        Excluir
      </button>
      <button mat-raised-button (click)="trocarUrl()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
