<mat-toolbar class="centered-toolbar">Cadastro de Usuário</mat-toolbar>
<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <div formGroupName="pessoaFisicaDto">
          <h2>Informações Básicas</h2>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="nome_id">Nome</mat-label>
            <input matInput type="text" formControlName="nome" id="nome_id" />
            <mat-error
              *ngIf="
                formGroup.get('nome') &&
                formGroup.get('nome')?.invalid &&
                formGroup.get('nome')?.touched
              "
            >
              Nome é obrigatório.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="cpf_id">CPF</mat-label>
            <input matInput type="text" formControlName="cpf" id="cpf_id" />
            <mat-error
              *ngIf="
                formGroup.get('cpf') &&
                formGroup.get('cpf')?.invalid &&
                formGroup.get('cpf')?.touched
              "
            >
              CPF é obrigatório.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="email_id">Email</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
              id="email_id"
            />
            <mat-error
              *ngIf="
                formGroup.get('email') &&
                formGroup.get('email')?.invalid &&
                formGroup.get('email')?.touched
              "
            >
              Email é obrigatório.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="sexo_id">Sexo</mat-label>
            <mat-select formControlName="sexo" id="sexo_id">
              <mat-option value="1">Masculino</mat-option>
              <mat-option value="2">Feminino</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formGroup.get('sexo') &&
                formGroup.get('sexo')?.invalid &&
                formGroup.get('sexo')?.touched
              "
            >
              Sexo é obrigatório.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="cadastro-perfil">
          <h2>Informações do Perfil</h2>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="login_id">Login</mat-label>
            <input matInput formControlName="login" id="login_id" />
            <mat-error
              *ngIf="
                formGroup.get('login') &&
                formGroup.get('login')?.invalid &&
                formGroup.get('login')?.touched
              "
            >
              login é obrigatório.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="senha_id">Senha</mat-label>
            <input
              matInput
              type="password"
              formControlName="senha"
              id="senha_id"
            />
            <mat-error
              *ngIf="
                formGroup.get('senha') &&
                formGroup.get('senha')?.invalid &&
                formGroup.get('senha')?.touched
              "
            >
              senha é obrigatório.
            </mat-error>
          </mat-form-field>
        </div>

        <div formGroupName="endereco">
          <h2>Endereço</h2>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="logradouro_id">Logradouro</mat-label>
            <input
              matInput
              type="text"
              formControlName="logradouro"
              id="logradouro_id"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="bairro_id">Bairro</mat-label>
            <input
              matInput
              type="text"
              formControlName="bairro"
              id="bairro_id"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="numero_id">Número</mat-label>
            <input
              matInput
              type="text"
              formControlName="numero"
              id="numero_id"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="complemento_id">Complemento</mat-label>
            <input
              matInput
              type="text"
              formControlName="complemento"
              id="complemento_id"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="cep_id">CEP</mat-label>
            <input matInput type="text" formControlName="cep" id="cep_id" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label for="idMunicipio_id">Selecione uma cidade</mat-label>
            <mat-select formControlName="idMunicipio" id="idMunicipio_id">
              <mat-option *ngFor="let cidade of cidades" [value]="cidade.id">
                {{ cidade.nome }} - {{ cidade.estado.sigla }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div formArrayName="telefones">
          <div
            *ngFor="let telefone of telefonesFormArray.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field>
              <input
                matInput
                formControlName="codigoDeArea"
                placeholder="Código de Área"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="numero"
                placeholder="Número de Telefone"
              />
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="removerTelefone(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <button mat-button color="primary" (click)="adicionarTelefone()">
          Adicionar Telefone
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="salvar()"
        [disabled]="formGroup.invalid"
      >
        Salvar
      </button>
      <button
        mat-raised-button
        *ngIf="formGroup?.get('id')?.value"
        color="warn"
        (click)="excluir()"
        [disabled]="formGroup.invalid"
      >
        Excluir
      </button>
      <button mat-raised-button routerLink="/usuarios/list">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
