<mat-toolbar>
    <span routerLink="/user/home/home-page" class="titulo">JavaPets</span>
    
    
        <img routerLink="/user/home/home-page" class="login-icon" src="assets\logo.png">

    <button routerLink="/user/produtos/carrinho" mat-icon-button class="demo-section example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon [matBadge]="qtdItensCarrinho"  matBadgeColor="warn" matBadgePosition="after" matBadgeOverlap="false">shopping_cart</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
        <span class="menu-usuario-span">{{usuarioLogado?.login}}</span>
     </button>
     <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deslogar()" class="item-menu-user"  routerLink="/user/auth/login">
            <mat-icon>account_circle</mat-icon> Perfil
          </button>

          <button mat-menu-item class="item-menu-user" routerLink="/user/compra/meus-pedidos">
            <mat-icon>view_list</mat-icon> Pedidos
          </button>
          <button class="item-menu-user" mat-menu-item (click)="deslogar()"  routerLink="/user/auth/login">
            <mat-icon >exit_to_app</mat-icon> Sair
          </button>
     </mat-menu>
</mat-toolbar>
<mat-toolbar>
    <span>Acesse Nossos Produtos:</span>
    <div class="menu-item-container">
        <span class="menu-item">Cachorro</span>
    </div>
    <div class="menu-item-container">
        <span class="menu-item">Gato</span>
    </div>
    <div class="menu-item-container">
        <span class="menu-item">Passaro</span>
    </div>
    <div class="menu-item-container" routerLink="produtos/card-list">
        <span class="menu-item">Todos</span>
    </div>
</mat-toolbar>