<mat-toolbar class="centered-toolbar">Cadastro de Produto</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup" >
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label for="nome_id">Nome</mat-label>
                    <input matInput type="text" formControlName="nome" id="nome_id" />
                    <mat-error *ngIf="formGroup.get('nome') &&
                        formGroup.get('nome')?.invalid &&
                        formGroup.get('nome')?.touched">
                        Nome é obrigatório.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label for="descricao_id">Descricao</mat-label>
                    <input matInput type="text" formControlName="descricao" id="descricao_id" />
                    <mat-error *ngIf="formGroup.get('descricao') &&
                        formGroup.get('descricao')?.invalid &&
                        formGroup.get('descricao')?.touched">
                        Descricao é obrigatório.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" >
                  <mat-label for="categoria_id">Categoria</mat-label>
                  <mat-select formControlName="categoria" id="categoria_id">
                    <mat-option *ngFor="let categoria of categorias" [value]="categoria">
                      {{categoria.nome}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" >
                  <mat-label for="marca_id">Marca</mat-label>
                  <mat-select formControlName="marca" id="marca_id">
                    <mat-option *ngFor="let marca of marcas" [value]="marca">
                      {{marca.nome}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label for="fornecedor_id">Fornecedor</mat-label>
                    <mat-select formControlName="fornecedor" id="fornecedor_id">
                      <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor">
                        {{fornecedor.nome}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                  <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label for="preco_id">Preco</mat-label>
                    <input matInput type="number" formControlName="preco" id="preco_id" />
                    <mat-error *ngIf="formGroup.get('preco') &&
                        formGroup.get('preco')?.invalid &&
                        formGroup.get('preco')?.touched">
                        preco é obrigatório.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label for="estoque_id">Estoque</mat-label>
                    <input matInput type="number" formControlName="estoque" id="estoque_id" />
                    <mat-error *ngIf="formGroup.get('estoque') &&
                        formGroup.get('estoque')?.invalid &&
                        formGroup.get('estoque')?.touched">
                        Estoque é obrigatório.
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                color="primary" 
                (click)="salvar()"
                [disabled]="formGroup.invalid">
                Salvar
            </button>
            <button mat-raised-button 
                *ngIf="formGroup?.get('id')?.value"
                color="warn" 
                (click)="excluir()"
                [disabled]="formGroup.invalid">
                Excluir
            </button>
            <button mat-raised-button 
                routerLink="/produtos/list">
                Cancelar
            </button>
        </mat-card-actions>
    </mat-card>
</div>
