<mat-toolbar class="centered-toolbar">Cadastro de Cupom descontos</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup" >
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Codigo cupom</mat-label>
                    <input matInput type="text" formControlName="codigoCupom" />
                    <mat-error *ngIf="formGroup.get('codigoCupom')?.hasError('apiError')">
                        {{ formGroup.get('codigoCupom')?.getError('apiError') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">

                    <mat-label for="quantidadeDisponivel_id">Quantidade disponivel</mat-label>
                    
                    <input matInput type="number" formControlName="quantidadeDisponivel" id="quantidadeDisponivel_id" />

                    <mat-error *ngIf="formGroup.get('quantidadeDisponivel')?.hasError('apiError')">
                        {{ formGroup.get('quantidadeDisponivel')?.getError('apiError') }}
                    </mat-error>

                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">

                    <mat-label for="porcentagemDesconto_id">Porcentagem desconto</mat-label>
                    
                    <input matInput type="number" formControlName="porcentagemDesconto" id="porcentagemDesconto_id" />

                    <mat-error *ngIf="formGroup.get('porcentagemDesconto')?.hasError('apiError')">
                        {{ formGroup.get('porcentagemDesconto')?.getError('apiError') }}
                    </mat-error>

                </mat-form-field>

            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                color="primary" 
                (click)="salvar()"
                [disabled]="formGroup.invalid">
                Salvar
            </button>
            <button mat-raised-button 
                *ngIf="formGroup?.get('id')?.value"
                color="warn" 
                (click)="excluir()"
                [disabled]="formGroup.invalid">
                Excluir
            </button>
            <button mat-raised-button 
                routerLink="/cupomDescontos/list">
                Cancelar
            </button>
        </mat-card-actions>
    </mat-card>
</div>