.propaganda{
    padding-top: 50px;
}

.titulo{
  text-align: center;
}

.carousel {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 3px solid rgb(238, 255, 0);
    border-radius: 30px;

  }
  
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel button {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel button.prev {
    left: 0;
  }
  
  .carousel button.next {
    right: 0;
  }
  
  @media (max-width: 575px) {
    .carousel {
      width: 30%;
      height: 300px;
    }
  
    .carousel img {
      width: 30%;
      height: 100%;
    }
  
    .carousel button {
      width: 30px;
      height: 30px;
    }
  }

img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.container {
    padding: 20px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.centered-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinhar elementos à esquerda verticalmente */
    width: 80%;
}
.input-field {
    flex: 1;
    margin-right: 8px;
}
.search-button {
    width: 54px;
    height: 54px;
    align-self: flex-start; /* Alinhar o botão verticalmente ao topo */
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave ao efeito de elevação */
  }
  
  .product-card:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1); /* Adiciona um efeito de elevação ao passar o mouse */
  }
  
  .centered-text {
    text-align: center;
  }
