<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="side" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>Home</mat-list-item>
            <mat-list-item routerLink="/estados/list">Controle de Estado</mat-list-item>
            <mat-list-item routerLink="/cidades/list">Controle de Cidade</mat-list-item>
            <mat-list-item routerLink="/marcas/list">Controle de Marcas</mat-list-item>
            <mat-list-item routerLink="/fornecedores/list">Controle de Fornecedores</mat-list-item>
            <mat-list-item routerLink="/categorias/list">Controle de Categorias</mat-list-item>
            <mat-list-item routerLink="/produtos/list">Controle de Produtos</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>