<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="side" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item><p><mat-icon>home</mat-icon> Home</p></mat-list-item>
            <mat-list-item routerLink="/estados/list"><p><mat-icon>location_city</mat-icon> Controle de Estado</p></mat-list-item>
            <mat-list-item routerLink="/cidades/list"><p><mat-icon> place</mat-icon> Controle de Cidade</p></mat-list-item>
            <mat-list-item routerLink="/marcas/list"><p><mat-icon>branding_watermark</mat-icon> Controle de Marcas</p></mat-list-item>
            <mat-list-item routerLink="/fornecedores/list"><p><mat-icon>supervisor_account</mat-icon> Controle de Fornecedores</p></mat-list-item>
            <mat-list-item routerLink="/categorias/list"><p><mat-icon>category</mat-icon> Controle de Categorias</p></mat-list-item>
            <mat-list-item routerLink="/produtos/list"><p>  <mat-icon>inbox</mat-icon> Controle de Produtos</p></mat-list-item>
            <mat-list-item routerLink="/usuarios/list"><p><mat-icon>perm_identity</mat-icon> Controle de Usuários</p></mat-list-item>
            <mat-list-item routerLink="/cupomDescontos/list"><p><mat-icon>receipt</mat-icon> Controle de cupom desconto</p></mat-list-item>
            <mat-list-item routerLink="/pets/list"><p><mat-icon>pets</mat-icon> Controle de pets</p></mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>